<div>
  <div class="header">
    <div class="brand">
      <img class="brand-img" src="assets/img/bank-logo.png" alt="bank-logo">
      <h1>XYZ Bank</h1>
    </div>
    <h1 style="text-align: center;"><b>Landing Page</b></h1>
    <h1 style="text-align: right; margin-right: 25px;">Banking Portal</h1>
  </div>
  <div class="body">
    <h2 style="text-align: center;">Welcome to your XYZ Online Banking Portal!</h2>
    <div class="buttons">
        <a><button class="btn btn-primary">SignUp</button></a>
        or
        <a><button class="btn btn-primary">Login</button></a>
      </div>
  </div>
  
  
</div>
